@font-face {
  font-family: 'Roboto Th';
  src: url('../fonts/roboto/Roboto-Thin.eot');
  src: url('../fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/Roboto-Thin.woff2') format('woff2'),
  url('../fonts/roboto/Roboto-Thin.woff') format('woff'),
  url('../fonts/roboto/Roboto-Thin.ttf') format('truetype'),
  url('../fonts/roboto/Roboto-Thin.svg#Roboto-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Modern H EcoLight';
  src: url('../fonts/modernh/ModernH-EcoLight.eot');
  src: url('../fonts/modernh/ModernH-EcoLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/modernh/ModernH-EcoLight.woff2') format('woff2'),
  url('../fonts/modernh/ModernH-EcoLight.woff') format('woff'),
  url('../fonts/modernh/ModernH-EcoLight.ttf') format('truetype'),
  url('../fonts/modernh/ModernH-EcoLight.svg#ModernH-EcoLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Modern H';
  src: url('../fonts/modernh/ModernH-Bold.eot');
  src: url('../fonts/modernh/ModernH-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/modernh/ModernH-Bold.woff2') format('woff2'),
  url('../fonts/modernh/ModernH-Bold.woff') format('woff'),
  url('../fonts/modernh/ModernH-Bold.ttf') format('truetype'),
  url('../fonts/modernh/ModernH-Bold.svg#ModernH-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Modern H';
  src: url('../fonts/modernh/ModernH-Light.eot');
  src: url('../fonts/modernh/ModernH-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/modernh/ModernH-Light.woff2') format('woff2'),
  url('../fonts/modernh/ModernH-Light.woff') format('woff'),
  url('../fonts/modernh/ModernH-Light.ttf') format('truetype'),
  url('../fonts/modernh/ModernH-Light.svg#ModernH-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}